<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body ng-app="app">
    <div ng-controller='PostsController' class='container'>
        <h1>Recent Posts</h1>
        <form role='form'>
        	<div class="form-group">
        		<div class="input-group">
			        <input ng-model='postBody' class="form-control"/>
			        <span class='input-group-btn'>
			        	<button ng-click='addPost()' class="btn btn-default">Add Post</button>
			        </span>
        		</div>
        	</div>
        </form>

        <!-- {{posts}} -->
        <!-- {{posts[0].body}} -->
        <ul class='list-group'>
            <!-- <li class='list-group-item'><strong>@helladyo</strong><span>Node rules!</span></li>
            <li class='list-group-item'><strong>@shubidubi</strong><span>Trying out angular.js...</span></li>
             --><!-- Angularizing the app -->
            <li ng-repeat="post in posts | orderBy:'-date'" class="list-group-item">
            	<strong>@{{post.username}}</strong>
            	<span>{{post.body}}</span>
            </li>
        </ul>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js'></script>
    <script src='/app.js'></script>
</body>
</html>
